- title "Garde du #{@garde.quand}"
%p
  %strong Médecins:
  = "#{@garde.senior.abbrev} / #{@garde.junior.abbrev}" rescue ""
%p
  %strong Payee?:
  =h @garde.est_payee?

%p
  = link_to "Edit", edit_garde_path(@garde)
  |
  = link_to "Destroy", @garde, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", gardes_path
